
spring:
  resources:
    static-locations: file:${filePath},classpath:/static/,classpath:/public/,classpath:/resources/,classpath:/META-INF/resources/
  datasource:
    driverClassName: com.mysql.jdbc.Driver
    username: root
    password: 123456
    url: jdbc:mysql://10.50.40.226:3306/wechat?useSSL=false&useUnicode=true&characterEncoding=utf8   #需要自己修改的地方
  jpa:
    database: MYSQL
    hibernate:
      ddl-auto: update #普通开发模式下使用update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
    show-sql: false
server:
  port: 12345

filePath: E:/fileUpload/  #需要自己修改的地方

